<footer class="footer">
  <small>
    <h5>Perfectial</h5>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://perfectial.com/company' %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>