<div class="navbar-inner">
  <div class="container">
    <div>
      <%= link_to "Tracking devices system", root_path, id: "logo", class: "main-link-font" %>
      <ul class="nav pull-right">
        <li><%= link_to "Home",    '#' %></li>
        <li><%= link_to "Help",    '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>

  </div>
</div>